*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
html,body{
    height: 100%;
    width:100%;
    overflow: hidden;

}

#main{
    height:100%;
    width:100%;
    background-color: hsl(202, 47%, 65%);
    display: flex;

}


#part1{
    height:100%;
    width:26%;
    /* background-color: red; */
  
}

#part2{
    height:100%;
    width:67%;
    
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-position: center;

}
#overlay{
    height: 100%;
    width:100%;
    background-color: hsla(347, 4%, 48%, 0.24);
   
}

#overlay-in{
    height: 100%;
    width:100%;
    background-color: hsla(347, 4%, 48%, 0.055);
   
}
#part3{
    height:100%;
    width:7%;
    /* background-color: rgb(255, 0, 0); */

}

#text-div{
    height: 300px;
    position: absolute;
    width:400px;
    /* background-color: red; */
    left:4%;
    top:60%;
    transform: translate(0,-50%);
}

#text-div>h1{
    font-size: 95px;
    font-family: monument;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 78px;
    color: #fff;
    letter-spacing: 8px;

}

#small-img-div{
    width:300px ;
    height:400px;
    background-image:url(https://images.unsplash.com/photo-1529680459049-bf0340fa0755?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
    background-size: cover;
    position: absolute;
    background-position: center;
    top:50%;
    right:5%;
    transform: translate(0,-50%);
}

#vertical-text{
    position: absolute;
    transform: rotate(90deg);
    right:-90%;
    left:110%;
    top: 24%;
    transform-origin: 0% 0%;
    /* z-index:5 ; */
    /* width:100%;
    background-color: red; */

}

#vertical-text h1{
    font-size:40px;
    font-weight: 400;
   text-transform: uppercase;
   color: transparent;
   letter-spacing: 15px;
   font-family: monument;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fff;

}
/* #nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:40px;
    left:8%;
    top:5%;
    background: cover;
    /* background-color: red; */

/* 
#nav img{
    height: 10%;

}

nav h5{
    font-size: 20px;
    color:#fff;
    font-family: gilroy;
} */ 